<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>SWOCMPortlets</display-name>
	
	<servlet>
		<servlet-name>MongoDBProxyServlet</servlet-name>
		<servlet-class>ru.sbrf.swocm.prototype.MongoDBProxyServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AcceptMeetingServlet</servlet-name>
		<servlet-class>ru.sbrf.swocm.portlets.as.AcceptMeetingServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MongoDBProxyServlet</servlet-name>
		<url-pattern>/MongoDBProxyServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AcceptMeetingServlet</servlet-name>
		<url-pattern>/AcceptMeetingServlet</url-pattern>
	</servlet-mapping>
</web-app>