/* reset styles */ 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, input, textarea, select, option, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: top;
	line-height: inherit;
	background: transparent;
}


body {line-height: 1;}
ul {list-style: none;}
textarea {resize: none;}

a {text-decoration: none;}

a.b-link {
	display: inline-block; *display: inline; zoom: 1;
}

a.b-link,
a.link-icon span,
a.b-link-double span {
	border-bottom: 1px solid transparent;	
}

a.b-link:hover,
a.link-icon:hover span,
a.b-link-double:hover span {
	border-color: #fbb13b;
	border-color: rgba(251, 177, 59, 0.6);
	color: #fbb13b;
}

a.b-link-dashed {
	border-style: dashed;	
}

a.b-link-dashed span{
	border-bottom: 1px dashed transparent;	
}

a.link-icon,
a.link-icon:hover,
a.b-link-double,
a.b-link-double:hover {
	border: 0;
}

:focus {outline: 0;}
table {border-collapse:collapse; border-spacing:0;}

.text-error {
	color: #F15A24;
}

.inline-block {
    display: inline-block; *display: inline; *zoom: 1;
}

/* l-layout */
html, body {
	height: 100%;
	width: 100%;
	background: #dcded6;
	font-family: Arial;
	font-size: 12px;
	color: #919191;
}

body {
	min-width: 1004px;
	max-width: 1440px;
	line-height: 1.2;
}

.l-clear:after {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0;
}

.ui-overflow-x {
	overflow-x: hidden;
}

.l-body {	
	padding: 0 6%;
}

.l-header {
	overflow: hidden;
	padding-top: 46px;
	padding-bottom: 60px;
}

.l-page {
	padding-left: 132px;
	min-height: 900px; /* nav's height */
}

.l-wrapper {
	position: relative;
}

.l-nav {
	position: absolute;
	top: 35px;
	left: -137px;
}

.l-content {
	position: relative;
	float: left;
	width: 68%;
}

.l-widgets {	
	position: relative;
	float: right;
	width: 30%;
}

.widget-block {
	width: 95%;
}

/* Header Block */
.b-find {
	float: left;
	width: 68%;
}

.find-wrapper {
	position: relative;
	padding-left: 44px;
	padding-right: 20px;
	height: 30px;
	
	background: url(../img/fint-input-left.png) no-repeat;
}

.find-input {
	border: 0;
	width: 100%;
	height: 29px;
	
	color: #a5a5a5;
	font-size: 14px;
	background: url(../img/fint-input-bg.png);
}

.find-wrapper b {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 29px;
	background: url(../img/fint-input-right.png);
}


/* user Info */
.b-user-info {
	float: right;
	width: 28%;
	padding-top: 9px;	
}

.b-user-info a {
	border-color: #bfc1ba; 
	color: #4e4e4e;
}

.b-user-info span {
	border-bottom: 1px solid #bfc1ba; 
}

.b-user-info a.link-icon {
	margin-left: 26px;
	margin-right: 43px;
}

.b-user-info a.link-icon i {
	position: absolute;
	top: -2px;
	left: -26px;
	width: 19px;
	height: 18px;
	background: url(../img/user-icon.png);
}

/* Nav Block */
.nav-item {
	display: block;
	height: 67px;
	width: 88px;
	
	background: #666;
	color: #f5f5f5;
}

.nav-item:hover {	
	background: #4d4d4d;
	cursor: pointer;
}

.nav-item.nav-active {
	width: 102px;
	
	color: #333;
	background: url(../img/nav-active.png) no-repeat;
	cursor: default;
}

.nav-text {
	padding-top: 45px;
	width: 88px;	
	
	text-align: center;
	background: url(../img/left-menu-sprite.png) no-repeat;
}

.b-nav-process  {
	margin: 7px 0;
}

.b-nav-process  .nav-text {
	padding: 19px 0 3px 13px;
	width: 76px;
	text-align: left;
}

.nav-item-lenta .nav-text {
	background-position: 0 0;
}

.nav-item-lenta.nav-active .nav-text {
	background-position: right 0;
}

.l-nav .nav-item-call {
	display: none;
	margin-top: -10px;
	background: url(../img/lefy-menu-call-active.png) no-repeat;
}

.nav-item-call.nav-active {
	display: block;	
}

.nav-item-call .nav-text {
	padding-top: 50px;
	background: url(../img/lefy-menu-call.png) no-repeat 26px 19px;
	color: #000;
}

.nav-item-study .nav-text,
.nav-item-sell .nav-text,
.nav-item-monitoring .nav-text {
	background: none;
}

.b-nav-process .nav-item-clients .nav-text {
	padding-top: 8px;
	background: none;
}

.nav-item-organisation .nav-text {
	background-position: 0 -349px;
}

.nav-item-organisation.nav-active .nav-text {
	background-position: right -349px;
}

.nav-item-product .nav-text {
	background-position: 0 -416px;
}

.nav-item-product.nav-active .nav-text {
	background-position: right -416px;
}

.nav-item-calendar .nav-text {
	background-position: 0 -483px;
}

.nav-item-calendar.nav-active .nav-text {
	background-position: right -483px;
}

.nav-item-my-client  .nav-text {
	background-position: 0 -550px;
}

.nav-item-my-client.nav-active  .nav-text {
	background-position: right -550px;
}

.nav-item-documents  .nav-text {
	background-position: 0 -617px;
}

.nav-item-documents.nav-active  .nav-text {
	background-position: right -617px;
}

.nav-item-reposts  .nav-text {
	background-position: 0 -684px;
}

.nav-item-reposts.nav-active  .nav-text {
	background-position: right -684px;
}

.nav-item.nav-item-add {
	margin-top: 4px;
}

.nav-item-add  .nav-text {
	background-position: 0 -754px;
}

.nav-item-add.nav-active  .nav-text {
	background-position: right -754px;
}

/* Navigation Indicators */
.b-nav-indicator {
	padding: 0 14px 10px 12px;
	width: 63px;
	
	font-size: 9px;
}

.nav-indicator-bg {
	position: relative;
	border: 1px solid #fff;
	border-radius: 3px;
	height: 4px;
	width: 100%;
}

.nav-indicator-current {
	position: relative;
	top: -5px;
	border-radius: 3px 0 0 3px;
	height: 4px;
	background: #fff;
}

.nav-indicator-text {
	position: absolute;	
	top: 8px;
	right: -12px;
}

.b-nav-indicator-number .nav-indicator-text {
	right: -5px;
}

.b-nav-indicator-number .nav-indicator-text-small {
	right: 0;
}

.nav-indicator-all {
	position: absolute;	
	top: 8px;
	right: 0px;	
}

/* b-nav-monitoring */
.b-nav-monitoring {
	padding: 0 14px 10px 12px;
	width: 63px;
}

.nav-monitoring-item {
	float: left;
	height: 7px;
}

.nav-monitoring-item  p{
	padding-top: 10px;
	text-align: center;
	font-size: 9px;
}

.nav-monitoring-first {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.nav-monitoring-last {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.nav-monitoring-green {
	background: #d9e021;
}

.nav-active .nav-monitoring-green {
	background: #009245;
}

.nav-monitoring-yellow {
	background: #fbb03b;
}

.nav-monitoring-red {
	background: #f15a24;
}

/* Content Block */
.content-header  h4 {
	margin-top: -3px;
	
	font-size: 24px;
	font-weight: normal;
	color: #000;
}

/* Common styles */
.b-button, 
.b-icon,
.select-list-icon,
.b-link-add-text,
.b-link {
	position: relative;
	display: inline-block; *display: inline; zoom: 1;
	cursor: pointer;
}

.b-link-add-text:hover{
	color: #FFAE00;
	border-color: #fbb13b;
}

.b-button {
	border: 1px solid #b8b8b8;
	border-radius: 3px;
	height: 24px;
	padding: 0 24px 0 24px;
	
	font-size: 12px;
	line-height: 24px;
	background: url(../img/button-bg.png) #dcdcdc;
	color: #000;
}

.b-button:hover {
	color: #FFAE00;
}

.b-link-back {
	margin-top: -4px;
	border: 0!important;
	padding-left: 17px;
	background: url(../img/back-to-list.png) no-repeat 0 -29px;
	color: #696969;
	font-size: 16px;
	line-height: 29px;
}

.b-link-back:hover {
	border: 0;
	background-position: 0 0;
}

.b-content {
	position: relative;
	margin-top: 10px;
	border: 1px solid #b3b3b3;
	background: #fff;
}

/* Common styles */
.b-rating {
	position: absolute;
	top: 0;
	left: 0;
	height: 4px;
	background: #009245;
}

.b-rating-all {
	width: 100%;
	background: #ccc;
}

.rating-text {
	position: absolute;
	top: 9px;
	left: 95%;
	
	font-size: 15px;
	font-weight: bold;
	color: #000;
	white-space: nowrap;
}

.b-rating-all p {
	left: auto;
	right: 5px;
}

h3.collapse-header {
	display: inline-block; *display: inline; zoom: 1;
	margin-left: -23px;
	padding-left: 23px;
	
	font-size: 21px;
	cursor: pointer;	
}

.collapse-show > h3.collapse-header, 
h3.collapse-header:hover {
	background: url(../img/collapse-icon.png) no-repeat left center;
}

.collapse-header span {
	border-bottom: 1px dashed transparent;	
}

.collapse-inner {
	display: none;
}

.collapse-show  > .collapse-inner {
	display: block;
}

/* Form List of Call*/

.b-organization-header {
	position: relative;
	padding: 18px 30% 8px 21px;
	background: #e6e6e6;
}

.organization-form {
	position: absolute;
	top: 9px;
	right: 10px;
	width: 30%;
}

.organization-category {
	margin-bottom: 8px;
}

.organization-category a {
	margin: 0 8px;
	border-color: #737373;
	color: #000;
}

.organization-category span {
	color: #666;
}

.organization-category a.link-category-close {
	position: relative;
	top: -4px;
	margin: 0 5px 0 0;
	border-radius: 10px;
	border: 0;
	padding: 4px 28px 4px 12px;
	color: #fff;
	background: url(../img/button-cross.png) #333 92% center no-repeat;
}

.organization-form p {
	position: relative;
	width: 100%;
	min-height: 35px;
}

.organization-form input[type="text"] {
	float: right;
	margin-bottom: 11px;
	border-radius: 10px/11px;
	border: 1px solid #959699;
	padding: 3px 10px 3px 25px;
	width: 82%;
	
	font-size: 11px;
	color: #A1A3A6;
	background: url(../img/input-find-bg.png) #fff no-repeat 4% center;
}

.organization-form  input[type="checkbox"] {
	position: absolute;
	top: 0;
	left: 10px;
}

.organization-form label {
	display: block;
	padding-left: 30px;
	font-size: 11px;
	color: #000;
}

.organization-table-header {
	overflow: hidden;
	background: #f2f2f2;	
}

.organization-th {
	float: left;
	width: 16%;
	padding: 5px 0;
	
	text-align: center;
	text-transform: uppercase;
	color: #6D6E70;
	font-size: 10px;
}

.organization-th-name {
	width: 51%;
	color: #fff;
	background: #b3b3b3;	
}

.b-organization-new {
	margin-bottom: 12px;
	border-bottom: 4px solid #b3b3b3;
}

.organization-new-header {
	padding: 13px 0 0 15px;
	
	font-size: 14px;
	color: #808080;
	font-style: italic;
}

.organization-line {
	overflow: hidden;
	border-top: 1px solid #d9d9d9;
	padding: 14px 0 6px 0;
}

div.organization-line:first-child {
	border-top: 0;
}

.organization-td {
	float: left;
	width: 16%;
	text-align: center;
	font-size: 11px;
}

.organization-td-info {
	position: relative;
	width: 51%;
	text-align: left;
}

.organization-td-info p {
	padding-left: 52px;
}

.organization-td-info a {
	margin-bottom: 2px;
	
	border-color: #000;
	font-size: 14px;
	color: #333;
}

.organization-td-check {
	position: absolute;
	top: 5px;
	left: 15px;
}
