.popup-calculator {
	margin: -216px 0 0 -275px;
	width: 550px;
	height: 433px;	
}

.calculator-inner {
	border: 2px solid #807D6F;
	padding: 30px 40px;
	background: #fff;		
}

.popup-header h3 {
	color: #000;
	font-size: 19px;
}

.b-calculator-target {
	margin-top: 21px;
}

.calculator-header {
	margin-bottom: 7px;
	color: #000;
	font-size: 16px;
}

.calculator-plan {
	margin-left: -16px;
	padding-left: 16px;
	background: url(../../img/widget/calculator-bg.png) no-repeat left 26px;
}

.calculator-plan .calculator-header {
	font-size: 15px;
}

.calculator-text {
	margin-bottom: 12px;
	
	font-style: italic;
	color: 808080;
}

.calculator-plan-line {
	position: relative;
	width: 100%;
	height: 5px;
	padding-bottom: 33px;
}

.calculator-plan-cell {
	position: relative;
	display: inline-block; *display: inline; zoom: 1;
	height: 100%;
	background: url(../../img/widget/calculator-separator.png) repeat-y #b3b3b3 right top;
}

.calculator-plan-real {
	background-color: #39b54a;
}

.calculator-plan-future {
	background-color: #d9e021;
}

.calculator-target-line {
	margin-bottom: 47px;
}

.calcilator-target-text-max {
	margin-left: -65px;
}

.calculator-plan {
	margin-left: -16px;
	padding-left: 16px;
	background: url(../../img/widget/calculator-bg.png) no-repeat left 26px;
}

.calculator-plan-slider,
.calculator-plan-slider .ui-slider-range  {
	border: 0!important;
	background: none!important;
}

.calculator-plan-slider {
	position: absolute;
	top: 0;
	left: 0;	
	width: 100%;
}

.calculator-plan-slider a {
	position: absolute;
	top: 6px!important;
	border: 0!important;
	margin-left: -6px;
	width: 12px;
	height: 16px;
	background: url(../../img/widget/calculator-slider.png) no-repeat!important;
	cursor: url(../../img/widget/slider-cursor.png), move;
}

.calculator-plan-slider p {
	position: absolute;
	top: -28px;
	left: -6px;
	font-size: 15px;
	font-weight: bold;
	color: #000;
}

.calculator-target-line {
	position: relative;
	margin-bottom: 80px;
	width: 100%;
	height: 5px;
	background: #B3B3B3;
}

.calculator-target-real, 
.calculator-target-future {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.calculator-target-real {
	background: #F7931E;
	z-index: 10;
}

.calculator-target-real p {
	position: absolute;
	left: 100%;
	top: 42px;
	width: 70px;
	font-size: 12px;
	color: #4D4D4D;
}

.calculator-target-real b {
	display: block;
	position: absolute;
	left: 0;
	top: -25px;
	height: 19px;
	width: 1px;
	background: #999;
}

.calculator-target-real i {
	display: block;
}

.calculator-target-future {
	background: #FBCF3B;
}

.calculator-target-future p {
	position: absolute;
	top: -22px;
	right: 0;
	padding-bottom: 22px;
	font-size: 16px;
	font-weight: bold;
	color: #B3B3B3;
	white-space: nowrap;
}